/***********************************************************
* Sentence
***********************************************************/
.sentence {
  line-height: map-get($line-height-map, "sentence");
}

/***********************************************************
* Title
***********************************************************/
%title {
  line-height: map-get($line-height-map, "title");
}

/***********************************************************
* Button
***********************************************************/
%button {
  cursor: pointer;
  line-height: map-get($line-height-map, "title");
  &:hover {
    text-decoration: none;
  }
}
